### 讀取資料
首先，我們用 pandas 讀取最主要的資料 application_train.csv (記得到 https://www.kaggle.com/c/home-credit-default-risk/data 下載)

Note: `data/application_train.csv` 表示 `application_train.csv` 與該 `.ipynb` 的資料夾結構關係如下
```
data
    /application_train.csv
Day_002_first_EDA.ipynb
```

In [13]:
import os
import numpy as np
import pandas as pd

In [14]:
# 設定 data_path
dir_data = 'C:/Users/wuhe/data/'

#### 用 pd.read_csv 來讀取資料

In [15]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: C:/Users/wuhe/data/application_train.csv

#### Note: 在 jupyter notebook 中，可以使用 `?` 來調查函數的定義

In [16]:
# for example
?pd.read_csv

接下來我們可以用 .head() 這個函數來觀察前 5 row 資料

In [17]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

# 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google
如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
資料的 row 數以及 column 數

如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
資料的 row 數以及 column 數

In [19]:
app_train.shape

(307511, 122)

列出所有欄位

In [21]:
list = app_train.columns.tolist()
app_train.columns.tolist()

['SK_ID_CURR',
 'TARGET',
 'NAME_CONTRACT_TYPE',
 'CODE_GENDER',
 'FLAG_OWN_CAR',
 'FLAG_OWN_REALTY',
 'CNT_CHILDREN',
 'AMT_INCOME_TOTAL',
 'AMT_CREDIT',
 'AMT_ANNUITY',
 'AMT_GOODS_PRICE',
 'NAME_TYPE_SUITE',
 'NAME_INCOME_TYPE',
 'NAME_EDUCATION_TYPE',
 'NAME_FAMILY_STATUS',
 'NAME_HOUSING_TYPE',
 'REGION_POPULATION_RELATIVE',
 'DAYS_BIRTH',
 'DAYS_EMPLOYED',
 'DAYS_REGISTRATION',
 'DAYS_ID_PUBLISH',
 'OWN_CAR_AGE',
 'FLAG_MOBIL',
 'FLAG_EMP_PHONE',
 'FLAG_WORK_PHONE',
 'FLAG_CONT_MOBILE',
 'FLAG_PHONE',
 'FLAG_EMAIL',
 'OCCUPATION_TYPE',
 'CNT_FAM_MEMBERS',
 'REGION_RATING_CLIENT',
 'REGION_RATING_CLIENT_W_CITY',
 'WEEKDAY_APPR_PROCESS_START',
 'HOUR_APPR_PROCESS_START',
 'REG_REGION_NOT_LIVE_REGION',
 'REG_REGION_NOT_WORK_REGION',
 'LIVE_REGION_NOT_WORK_REGION',
 'REG_CITY_NOT_LIVE_CITY',
 'REG_CITY_NOT_WORK_CITY',
 'LIVE_CITY_NOT_WORK_CITY',
 'ORGANIZATION_TYPE',
 'EXT_SOURCE_1',
 'EXT_SOURCE_2',
 'EXT_SOURCE_3',
 'APARTMENTS_AVG',
 'BASEMENTAREA_AVG',
 'YEARS_BEGINEXPLUATATION_AVG',
 'YEARS_BUILD_AVG',
 'COMMONAREA_AVG',
 'ELEVATORS_AVG',
 'ENTRANCES_AVG',
 'FLOORSMAX_AVG',
 'FLOORSMIN_AVG',
 'LANDAREA_AVG',
 'LIVINGAPARTMENTS_AVG',
 'LIVINGAREA_AVG',
 'NONLIVINGAPARTMENTS_AVG',
 'NONLIVINGAREA_AVG',
 'APARTMENTS_MODE',
 'BASEMENTAREA_MODE',
 'YEARS_BEGINEXPLUATATION_MODE',
 'YEARS_BUILD_MODE',
 'COMMONAREA_MODE',
 'ELEVATORS_MODE',
 'ENTRANCES_MODE',
 'FLOORSMAX_MODE',
 'FLOORSMIN_MODE',
 'LANDAREA_MODE',
 'LIVINGAPARTMENTS_MODE',
 'LIVINGAREA_MODE',
 'NONLIVINGAPARTMENTS_MODE',
 'NONLIVINGAREA_MODE',
 'APARTMENTS_MEDI',
 'BASEMENTAREA_MEDI',
 'YEARS_BEGINEXPLUATATION_MEDI',
 'YEARS_BUILD_MEDI',
 'COMMONAREA_MEDI',
 'ELEVATORS_MEDI',
 'ENTRANCES_MEDI',
 'FLOORSMAX_MEDI',
 'FLOORSMIN_MEDI',
 'LANDAREA_MEDI',
 'LIVINGAPARTMENTS_MEDI',
 'LIVINGAREA_MEDI',
 'NONLIVINGAPARTMENTS_MEDI',
 'NONLIVINGAREA_MEDI',
 'FONDKAPREMONT_MODE',
 'HOUSETYPE_MODE',
 'TOTALAREA_MODE',
 'WALLSMATERIAL_MODE',
 'EMERGENCYSTATE_MODE',
 'OBS_30_CNT_SOCIAL_CIRCLE',
 'DEF_30_CNT_SOCIAL_CIRCLE',
 'OBS_60_CNT_SOCIAL_CIRCLE',
 'DEF_60_CNT_SOCIAL_CIRCLE',
 'DAYS_LAST_PHONE_CHANGE',
 'FLAG_DOCUMENT_2',
 'FLAG_DOCUMENT_3',
 'FLAG_DOCUMENT_4',
 'FLAG_DOCUMENT_5',
 'FLAG_DOCUMENT_6',
 'FLAG_DOCUMENT_7',
 'FLAG_DOCUMENT_8',
 'FLAG_DOCUMENT_9',
 'FLAG_DOCUMENT_10',
 'FLAG_DOCUMENT_11',
 'FLAG_DOCUMENT_12',
 'FLAG_DOCUMENT_13',
 'FLAG_DOCUMENT_14',
 'FLAG_DOCUMENT_15',
 'FLAG_DOCUMENT_16',
 'FLAG_DOCUMENT_17',
 'FLAG_DOCUMENT_18',
 'FLAG_DOCUMENT_19',
 'FLAG_DOCUMENT_20',
 'FLAG_DOCUMENT_21',
 'AMT_REQ_CREDIT_BUREAU_HOUR',
 'AMT_REQ_CREDIT_BUREAU_DAY',
 'AMT_REQ_CREDIT_BUREAU_WEEK',
 'AMT_REQ_CREDIT_BUREAU_MON',
 'AMT_REQ_CREDIT_BUREAU_QRT',
 'AMT_REQ_CREDIT_BUREAU_YEAR']

截取部分資料

In [27]:
one_to_four = list[0:4]

In [28]:
one_to_four

['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER']

找出TARGET =1的資料

In [32]:
app_train[app_train['TARGET'] == 1]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
26,100031,1,Cash loans,F,N,Y,0,112500.0,979992.0,27076.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,2.0
40,100047,1,Cash loans,M,N,Y,0,202500.0,1193580.0,35028.0,...,0,0,0,0,0.0,0.0,0.0,2.0,0.0,4.0
42,100049,1,Cash loans,F,N,N,0,135000.0,288873.0,16258.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
81,100096,1,Cash loans,F,N,Y,0,81000.0,252000.0,14593.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
94,100112,1,Cash loans,M,Y,Y,0,315000.0,953460.0,64107.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
110,100130,1,Cash loans,F,N,Y,1,157500.0,723996.0,30802.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
138,100160,1,Cash loans,M,N,Y,0,292500.0,675000.0,36747.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
154,100181,1,Cash loans,F,N,Y,0,157500.0,245619.0,12667.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
163,100192,1,Cash loans,F,N,N,0,111915.0,225000.0,21037.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
180,100209,1,Revolving loans,M,N,Y,3,180000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
184,100214,1,Cash loans,F,N,Y,1,202500.0,436032.0,28516.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
211,100246,1,Cash loans,F,N,Y,0,135000.0,495216.0,26995.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
235,100273,1,Cash loans,F,N,Y,0,157500.0,1710000.0,66262.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
242,100282,1,Revolving loans,F,Y,Y,0,73341.0,135000.0,6750.0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
246,100286,1,Cash loans,M,Y,Y,1,121500.0,263686.5,17298.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
255,100295,1,Cash loans,M,Y,N,1,225000.0,1019205.0,31032.0,...,1,0,0,0,0.0,0.0,0.0,6.0,0.0,1.0
260,100300,1,Cash loans,M,N,N,0,63000.0,426645.0,22468.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
261,100301,1,Cash loans,M,N,Y,1,112500.0,571486.5,31131.0,...,0,0,0,0,1.0,0.0,0.0,1.0,0.0,2.0
283,100326,1,Cash loans,M,Y,Y,0,36000.0,284400.0,10849.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
291,100336,1,Cash loans,F,Y,Y,0,157500.0,497520.0,28692.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
344,100396,1,Cash loans,M,N,N,0,112500.0,417024.0,25330.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
348,100401,1,Cash loans,F,N,Y,0,202500.0,343683.0,16663.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
368,100424,1,Cash loans,M,N,Y,0,112500.0,117162.0,12433.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
381,100439,1,Cash loans,M,N,Y,0,81000.0,312840.0,22891.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
389,100452,1,Cash loans,M,N,Y,1,171000.0,1009566.0,36391.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
408,100472,1,Cash loans,M,Y,Y,1,135000.0,545040.0,26509.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
413,100477,1,Cash loans,M,Y,Y,1,112500.0,284400.0,22599.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
419,100485,1,Revolving loans,M,Y,N,1,270000.0,810000.0,40500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
424,100490,1,Cash loans,M,N,N,0,135000.0,755190.0,38686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307123,455819,1,Cash loans,M,Y,Y,1,225000.0,1149628.5,48838.5,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,2.0
307126,455822,1,Cash loans,M,Y,N,2,112500.0,450000.0,30573.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307133,455830,1,Revolving loans,F,N,Y,0,90000.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307162,455865,1,Cash loans,M,N,N,0,180000.0,450000.0,30573.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,3.0
307177,455880,1,Cash loans,M,N,N,0,135000.0,260640.0,28197.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307183,455886,1,Cash loans,F,N,Y,0,180000.0,328405.5,26077.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,2.0
307248,455964,1,Cash loans,F,N,Y,0,112500.0,450000.0,27324.0,...,0,0,0,0,0.0,2.0,0.0,0.0,0.0,2.0
307256,455973,1,Cash loans,F,N,Y,0,58500.0,183384.0,14485.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307266,455983,1,Cash loans,M,Y,N,0,189000.0,604413.0,25537.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307268,455985,1,Cash loans,M,N,N,0,135000.0,355536.0,19417.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307283,456000,1,Cash loans,M,Y,Y,0,130500.0,306306.0,13108.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
307285,456002,1,Cash loans,F,N,Y,0,76500.0,284400.0,13963.5,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
307288,456005,1,Cash loans,F,N,Y,0,90000.0,601470.0,30838.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307310,456034,1,Cash loans,M,N,Y,0,90000.0,490536.0,23989.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307323,456047,1,Cash loans,F,N,Y,0,58500.0,448056.0,17019.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307328,456052,1,Cash loans,M,Y,N,1,135000.0,316125.0,15372.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307363,456088,1,Cash loans,F,Y,Y,0,29250.0,663093.0,21519.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,5.0
307377,456102,1,Cash loans,M,N,Y,0,67500.0,313438.5,20943.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307383,456108,1,Cash loans,F,N,Y,1,135000.0,457834.5,33444.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307386,456112,1,Cash loans,F,N,Y,0,135000.0,221832.0,17653.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
307407,456140,1,Cash loans,F,Y,Y,1,261000.0,711454.5,47673.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
307410,456143,1,Cash loans,F,N,Y,0,85500.0,180000.0,8059.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307433,456171,1,Cash loans,M,N,Y,0,50400.0,113760.0,7731.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307438,456176,1,Cash loans,M,N,Y,0,171000.0,1436850.0,42142.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307446,456184,1,Cash loans,M,N,N,0,270000.0,900000.0,40671.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307448,456186,1,Cash loans,M,N,N,1,207000.0,450000.0,32746.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307475,456215,1,Cash loans,F,N,N,1,144000.0,1303200.0,46809.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,6.0
307481,456225,1,Cash loans,M,N,Y,0,225000.0,297000.0,19975.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307489,456233,1,Cash loans,F,N,Y,0,225000.0,521280.0,23089.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307509,456254,1,Cash loans,F,N,Y,0,171000.0,370107.0,20205.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子